$color-light:#7ed56f;
$color-medium:#55c57a;
$color-dark:#28b485;
$color-grey-dark:#777; 
$color-white: #fff;
$color-black:#000;
$color-white-2:#f7f7f7;
$color-white-3:#eee;

$mg-btm:8rem;

$column-gap:6rem;

$color-orange-light:#ffb900;
$color-orange-dark:#ff7730;

$color-blue-light:#2998ff;
$color-blue-dark:#5643f1;
