@import "../abstracts/variables";

.feature-box{
    background-color: rgba($color-white, $alpha: 0.8);
    font-size: 1.5rem;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.4);
    transition: all .5s;
    border-radius: 0.5rem;

    &-icon{
        margin-bottom: 1.5rem;
        display: inline-block;
        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(to right bottom, rgba(126,213,111,0.8), rgba(40,180,133,0.8));
    }

    &:hover{
        transform: translateY(-1.5rem) scale(1.1);
    }
}